@font-face {
  font-family: 'Integral CF';
  src: url('./fonts/Fontspring-DEMO-integralcf-boldoblique.ttf') format('truetype');
  /* Update with the correct path and format */
  font-weight: bold;
  font-style: oblique;
}

body {
  font-family: 'Integral CF ', sans-serif;
  overflow-x: hidden;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;


}

#click-menu {
  height: 100vh;
  width: 100vw;
  /* display:none; */
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: fixed;
  top: 0;
  z-index: 10;
  transform: translateY(-800px);
  background-color: rgb(38, 38, 38);
}

#scrolling-items {
  display: flex;
  flex-direction: column;
}

#cursor {
  height: 50px;
  width: 50px;
  background-size: cover;
  position: fixed;
  z-index: 100;
}

#nav {
  background-color:white
}

#phan {
  padding-left: 4.5%;
  font-size: 200px;
  font-weight: 800;
  position: absolute;
  top: 47%;
  color: rgb(38, 38, 38);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#studio {
  padding-left: 4.5%;
  font-size: 200px;
  font-weight: 800;
  position: absolute;
  top: 68%;
  color: orangered;
  font-family: Arial, Helvetica, sans-serif;
}

#select {
  /* height: 35%;
  padding-top: 10%; */
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(38, 38, 38);

}

#work {
  /* height: 50%;
  padding-bottom: 30%; */
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(38, 38, 38);

}

#select_work {
  /* background-color:rgb(199, 199, 199); */
  height: 100%;
}

#exp_list {
  /* background-color: black; */
  width: 100%;
  /* background-color: aqua; */
  /* position: absolute; */
  /* left: 38%; */

}

#main_works {
  width: 100vw;
  height: 100%;
  display: flex;
   padding-left: 4.5%;
  padding-top: 40px; 
  /* margin-bottom: 20px;  */
  border-top: 2px solid black;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

}


.overlays  {
  position: relative;
}

.overlay {

  height: 9vw;
  width: 70vw;
  position: absolute;
  z-index: 10;
}

/* #s1_h11{
  font-size: 40px;
}

#s1_h12{
  font-size: 40px;
}
 */

 #services h1 {
  font-size: 3.7rem;
  font-weight: 100;
  margin: 0px 70px; /* Add spacing on the sides */
  text-align: center;
  line-height: 1; /* Adjust line height for closer spacing between lines */
}

#s_para{
  width: 100%;
  height: 80%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding-top: 10%;  
  background-color: rgb(0, 0, 0);


  line-height: 60px;
}



#companies{
  padding-top: 8%;  
  border-bottom: 2px solid black;
  padding-bottom: 8%; 
}

#aboutus_left{
  padding-left: 5.5%;
}

#main_works2{
  width: 100vw;
  height: 100%;
  display: flex;
   padding-left: 4.5%;
  padding-top: 40px; 
  /* margin-bottom: 20px;  */
  /* border-top: 2px solid black; */

  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

}

#s_para2{

   width: 100%;
  text-align: center;
  font-size: 55px;
  padding-top: 8%;  
  line-height: 60px;
}

#parent1_spara{
  width: 100%;
  height: 80%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 55px;
  padding-top: 8%;  
  background-color: rgb(0, 0, 0);
  line-height: 60px;
}

#story_img{
  width:700px;
  height:500px;
  background-image: url("media/service1.avif");
  background-attachment: fixed;
  /* background-size: cover; */
 
}